.Container{
    width: 100vw;
}
.Country{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 0 3px 2px silver;

}
.Country h1{
    color: #51a8c0;
    font-weight: 500;
    margin: 10px 2px;
    max-height: 300px;
    text-transform: uppercase;
}

.Country h1 span{
   font-style: italic;
    text-transform: capitalize;
}

.Country img{
    object-fit: cover;
    box-shadow: 1px 0 3px 3px silver;
    margin: 3px 8px;
}
